# Ignore environment and IDE files
.env
.env/
.idea/
.vscode/

# Ignore Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore OS files
.DS_Store

# Ignore AWS Lambda layer dependencies
python/

# Ignore swap files
*.swp
*.swo
